

@font-face {
    font-family: "sans-serif";
//src: url(../fonts/Montserrat-Bold.ttf); }

body {
    background-image: url(/meb11.jpg);
    background-size: 100%;
    background-color: #4797ec;
    margin: 0;
    padding: 0;
    /*width: 100%;
    height: 100%;*/
    color: #000000;
    font-family: Verdana;
}
h1 {
    background: #4797ec;
    color: #000000;
}
h2 {
    background: #4797ec;
    color: #000000;
}
.header-style {
    background-image: url(/meb11.jpg);
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
}